h3 {
  margin: 15px 10px 10px 10px;
}

.chart-container {
  background: white;
  border: 1px pink solid;
  border-radius: 8px;
}

.chart-box {
  width: 65%;
  margin: 0 auto;
}

.arrow-box {
  display: flex;
  justify-content: center;
}

.arrow {
  cursor: pointer;
}

.legend {
  display: flex;
  justify-content: center;
}

.legend-item {
  margin: 5px;
}

.legend-color {
  padding-right: 4px;
  font-size: 20px;
}
