.inputs-container {
  width: 50%;
  margin: 0 auto;
}
.item-container {
  border-bottom: 3px solid pink;
  display: flex;
  margin: 15px;
  padding: 3px;
}

.category-box {
  text-align: left;
}
.input-box {
  margin: 0px 0px 0px auto;
}
span {
  padding-left: 5px;
}
.save-btn {
  padding: 5px;
  width: 20%;
  margin: 10px 0 20px 0;
  border: none;
  outline: none;
  border-radius: 5px;
  color: red;
  cursor: pointer;
  background: pink;
  font-size: 16px;
}

.save-btn:active {
  outline: none;
  background: palevioletred;
  color: white;
}

input[type='checkbox'] {
  transform: scale(1.5);
}
.period-disabled {
  color: red;
  font-size: 14px;
}
@media only screen and (max-width: 600px) {
  .inputs-container {
    width: 90%;
    margin: 0 auto;
  }
}
