.log-container {
  width: 80%;
  margin: 0 auto;
}

.container-1 {
  display: flex;
  justify-content: center;
}
.container-2 {
  border: 1px pink solid;
  border-radius: 8px;
  display: flex;
  /* margin: 50px auto; */
  justify-content: center;
  background: white;
  width: 81.5%;
  margin: 0 auto;
  margin-top: 5px;
  /* margin-left: 5px; */
}

.elapsed-day-num {
  font-size: 30px;
  color: pink;
  margin: 20px 0 0 0;
}
.elapsed-days-box {
  width: 40%;
  background: white;
  border: 1px pink solid;
  border-radius: 8px;
  /* background: pink; */
  margin: 5px;
}

.average-box {
  width: 40%;
  background: white;
  /* background: pink 1px; */
  border: 1px pink solid;
  border-radius: 8px;
  margin: 5px;
  padding-bottom: 20px;
  /* margin: 10px; */
  /* justify-content: flex-start; */
}
.column {
  padding: 0 15px;
}
