@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.menu {
  padding: 0px;
  /* display: flex; */
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  width: 90%;
  background: pink;
  position: relative;
  margin-bottom: 40px;
  display: flex;
  color: white;
}
.menu:before {
  content: '';
  background: pink;
  position: absolute;
  height: 100%;
  width: 4000px;
  left: -2000px;
  top: 0px;
  z-index: -1;
}

.logo {
  text-align: center;
  margin: 0;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin: 0px;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
}
li {
  font-size: 20px;
  padding: 10px;
}
a {
  color: white;
  text-decoration: none;
}
a:active {
  color: palevioletred;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .menu {
    padding: 20px 0 0 0;
    /* display: flex; */
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 15px;
  }

  /* ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 5px;
    padding: 0;
  } */
}
